@using System;
@using System.IO;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Senai.Checkpoint.Mvc.Interfaces;
@using Senai.Checkpoint.Mvc.Models;
@using Senai.Checkpoint.Mvc.Repositorios;

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/comentarios.css">
    <title>Comentários</title>

</head>

<body>
    <header>
        <nav id="" class="menu">
            <ul>
                <li>
                    <a href="/Paginas/Home">Home</a>
                </li>
                <li>
                    <a href="/Paginas/Empresa">Sobre a empresa</a>
                </li>
                <li>
                    <a href="/Paginas/Contato">Contato</a>
                </li>
                <li>
                    <a href="/Paginas/Faq">F.A.Q.?</a>
                </li>

                <div class="busca">
                    <a href="//Paginas/Faq">
                        <img src="/imagens/if_Search_Icon_743893.png" alt="Lupa">
                    </a>

                    <form action="">
                        <textarea placeholder="Busca..." name="" id="" cols="30" rows="10"></textarea>
                    </form>
                </div>
            </ul>
        </nav>
    </header>

    <main>

        <div class="banner">
            <div class="conteudo">
                <div class="banner-ti">
                    <h1>Críticas construtivas</h1>
                    <h2>Fazemos o melhor para melhorar sua experiência</h2>
                </div>
            </div>
        </div>

        <div class="quebra"></div>


        @foreach(ComentariosModel comentario in ViewData["Aprovados"] as List<ComentariosModel> ) {
            <div class="quase-pai">
                <div class="cnome">
                    Nome: @comentario.Nome
                </div>
                <div class="cemail">
                    Email: @comentario.Email
                </div>
                <div class="ccoment">
                    Data: @comentario.DataCriacao
                </div>
            </div>

            <div class="pppp">
                <div class="mmmm">
                    <div>
                        <label for="">Comentário:
                            <br>
                            <input type="text" placeholder="Insira sua mensagem..." value="@comentario.Comentario"
                                disabled>

                        </label>

                    </div>
                </div>

            </div>

            <div class="division"></div>

            }

            <div class="quebra"></div>
            <div class="resto">
                <a href="/Paginas/Home">Voltar Home</a>
                <a href="/Usuario/Deslogar">Sair</a>
                <a href="/Comentarios/Comentar">Comente também!</a>
            </div>
            <div class="quebra"></div>

            <div class="telefone">
                <h2>Telefone: (11) 3273-5000</h2>
            </div>

            <div class="baixo">
                <div class="endereco">
                    <h2>Endereço: Alameda Barão de Limeira, 889 -Santa Cecília, São Paulo-SP, 01202-001</h2>
                </div>
                <div class="email">
                    <h2>Email: sac@carfel.com</h2>
                </div>
            </div>

    </main>

</body>

</html>