<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>

</head>

<body>
    <header>
        <nav id="" class="menu">
            <ul>
                <li>
                    <a href="/Paginas/Home">Home</a>
                </li>
                <li>
                    <a href="/Paginas/Empresa">Sobre a empresa</a>
                </li>
                <li>
                    <a href="/Paginas/Contato">Contato</a>
                </li>
                <li>
                    <a href="/Paginas/Faq">F.A.Q.?</a>
                </li>

                <div class="busca">
                    <a href="/Paginas/Faq">
                        <img src="/imagens/if_Search_Icon_743893.png" alt="Lupa">
                    </a>

                    <form action="">
                        <textarea placeholder="Busca..." name="" id="" cols="30" rows="10"></textarea>
                    </form>
                </div>
            </ul>
        </nav>
    </header>

    <main>

        <div class="banner">
            <div class="conteudo">
                <div class="banner-ti">
                    <h1>Encontre o que procura somente aqui!</h1>
                </div>
            </div>
        </div>

        <div class="quebra"></div>

        <div class="titulo">
            LOGIN:
        </div>

        <form action="/Usuario/Login" method="post">

            <div class="pppp">
                <div class="mmmm">

                    <div>
                        <label for="email">Email:
                            <br>
                            <input name="email" type="email" placeholder="Insira seu e-mail" required="true">
                        </label>
                        <br>
                        <br>
                    </div>
                    <div>
                        <label for="senha">Senha:
                            <br>
                            <input name="senha" type="password" placeholder="Insira sua senha..." required="true">
                        </label>
                        <br>
                        <br>
                        <button type="submit">Enviar</button>
                        <br>
                        <br>
                        @TempData["Login"]
                        @TempData["Erro"] 
                        <br>
                        <br>
                        <a href="/Usuario/Cadastro">Ainda não possuiu uma conta? CLIQUE AQUI!</a>
                        <br>
                        <br>
                    </div>
                </div>
        </form>
        

        </div>

        <div class="quebra"></div>

        <div class="telefone">
            <h2>Telefone: (11) 3273-5000</h2>
        </div>

        <div class="baixo">
            <div class="endereco">
                <h2>Endereço: Alameda Barão de Limeira, 889 -Santa Cecília, São Paulo-SP, 01202-001</h2>
            </div>
            <div class="email">
                <h2>Email: sac@carfel.com</h2>
            </div>
        </div>

    </main>

</body>

</html>